.footer-block {
  width: 100%;
  height: 235px;
  background-color: #1d1d1b;
  &__colums {
    padding-top: 48px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    // gap: 100px;
  }
  &__colums-logo {
    display: flex;
    flex-direction: column;
  }
  &__colums-logo span {
    margin-top: 36px;
    font: 14px 'Montserrat';
    color: #b9b9b9;
  }
  &__colums-linksblock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  &__colums-linkstitle {
    font: 600 16px 'Montserrat';
    line-height: 20px;
    color: #e2e2e2;
    // margin-bottom: 16px;
  }

  &__colums-links ul li {
    margin: 16px 0;
  }
  &__colums-links ul {
    margin: 21px 0;
  }
  &__colums-links ul li a img {
    width: 17px;
    height: 17px;
    margin-right: 7px;
  }
  &__colums-links ul li a {
    font: 14px 'Montserrat';
    color: #ffffff;
    align-items: center;
    display: flex;
  }
}
