.offer-container {
  margin-top: 75px;
  & > h4 {
    font: 500 24px 'Montserrat';
    line-height: 29px;
    color: #393939;
  }
  &__block {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 16px;
    margin-top: 18px;
    & > p {
      font: 300 14px 'Montserrat';
      line-height: 165%;
      color: #5b5b5b;
    }
  }
}
