.collections-block {
  margin-top: 18px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 8px;

  &__item {
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.02));
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 374px;
    position: relative;
    & > span {
      position: absolute;
      bottom: 60px;
      align-self: center;
      z-index: 1;
      font: 500 15px 'Montserrat';
      line-height: 18px;
      color: white;
    }

    //getting img
    & > :first-child {
      filter: contrast(0.6) blur(0.1px);
      object-fit: cover;
      width: 100%;
      min-height: 330px;
    }

    & > button {
      height: 44px;
      background-color: #1d1d1b;
      border: none;
      transition-duration: 0.6s;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      & > span {
        font: 500 14px 'Montserrat';
        line-height: 17px;
        color: white;
      }
      & > :last-child {
        //arrow right
        background: url('../../assets/arrow-right-white.svg');
        width: 20px;
        height: 20px;
        margin-left: 15px;
      }
    }

    & > button:hover > span {
      color: #1d1d1b;
    }
    & > button:hover > :last-child {
      background: url('../../assets/arrow-right-black.svg');
    }
    & > button:hover {
      background-color: white;
      transition-duration: 0.6s;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .collections-block {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 50px;
    // overflow: scroll;
    width: 350%;
    &__item {
      width: 100%;
    }
    &__categories {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
    &__morebtn {
      display: none;
    }
    gap: 8px;
  }
  .collections-container {
    overflow: scroll;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
