.search-container {
  //   background-color: red;
  margin-bottom: 150px;
  & > :last-child {
    margin-top: 20px;
    float: right;
  }
  & > h5 {
    font: 500 24px 'Montserrat';
    line-height: 29px;
    text-align: left;
    margin-top: 92px;
    margin-bottom: 10px;
  }
  // &__paginationblock {
  //   display: grid;
  //   grid-template-columns: repeat(4, 1fr);
  //   gap: 8px;
  // }
}
