.search-container {
  //   background-color: red;
  margin-bottom: 150px;
  & > h5 {
    font: 500 24px 'Montserrat';
    line-height: 29px;
    text-align: left;
    margin-top: 92px;
    margin-bottom: 10px;
  }
  .pagination-bar {
    margin-top: 20px;
    float: right;
  }
  &.h4 {
    font: 500 24px 'Montserrat';
    line-height: 29px;
    color: #393939;
    margin-top: 70px;
  }
  &.h4 + p {
    font: 400 16px 'Montserrat';
    line-height: 20px;
    color: #393939;
    margin-top: 16px;
  }
}
